Repository kasparsbatrags/degra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: usermanager-test, core-test, company-test, freighttracking-test

Path conditions:
  usermanager-test: any of: usermanager/**/*, core/**/*
  core-test: any of: core/**/*
  company-test: any of: company/**/*, core/**/*
  freighttracking-test: any of: freighttracking/**/*, core/**/*

- cīņa
  usermanager/src/main/resources/application-dev.yaml
Due: usermanager-test

- cīņa
  test-local/nginx/data/nginx/proxy_host/5.conf
Due: none

- cīņa
  native/freight/app/(auth)/login.tsx
  native/freight/app/(tabs)/index.tsx
  native/freight/components/web/ModernRouteCard.tsx
  native/freight/components/web/RouteTable.tsx
  native/freight/components/web/RouteTableTest.tsx
  native/freight/styles/web.css
  native/freight/test-route-table.tsx
  native/freight/test-table.html
Due: none

- cīņa
  freighttracking/src/main/resources/application-dev.yaml
  usermanager/src/main/resources/application-dev.yaml
Due: usermanager-test, freighttracking-test

- cīņa
  core/src/main/java/lv/degra/accounting/core/PagedResponse.java
  core/src/main/java/lv/degra/accounting/core/truck_route_page/model/TruckRoutePage.java
  core/src/main/java/lv/degra/accounting/core/truck_route_page/model/TruckRoutePageRepository.java
  core/src/main/java/lv/degra/accounting/core/truck_route_page/service/TruckRoutePageService.java
  core/src/main/java/lv/degra/accounting/core/truck_route_page/service/TruckRoutePageServiceImpl.java
  freighttracking/src/main/java/lv/degra/accounting/freighttracking/controller/TruckRoutePageController.java
  native/freight/app/(tabs)/index.tsx
  native/freight/components/web/RouteTable.tsx
  native/freight/utils/data-managers/PlatformDataAdapter.ts
  native/freight/utils/data-managers/RoutePageDataManager.ts
  native/freight/utils/offlineDataManager.ts
Due: usermanager-test, core-test, company-test, freighttracking-test

- cīņa
  native/freight/app/(tabs)/index.tsx
Due: none
