Repository kasparsbatrags/degra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: usermanager-test, core-test, company-test, freighttracking-test

usermanager-test:
  image: maven:3.9.5-eclipse-temurin-21
  cache:
    paths:
    - .m2/repository
  stage: test
  script:
  - mvn clean test -pl usermanager -am
  artifacts:
    reports:
      junit: usermanager/target/surefire-reports/TEST-*.xml

core-test:
  image: maven:3.9.5-eclipse-temurin-21
  cache:
    paths:
    - .m2/repository
  stage: test
  script:
  - mvn clean test -pl core -am
  artifacts:
    reports:
      junit: core/target/surefire-reports/TEST-*.xml

company-test:
  image: maven:3.9.5-eclipse-temurin-21
  cache:
    paths:
    - .m2/repository
  stage: test
  script:
  - mvn clean test -pl company -am
  artifacts:
    reports:
      junit: company/target/surefire-reports/TEST-*.xml

freighttracking-test:
  image: maven:3.9.5-eclipse-temurin-21
  cache:
    paths:
    - .m2/repository
  stage: test
  script:
  - mvn clean test -pl freighttracking -am
  artifacts:
    reports:
      junit: freighttracking/target/surefire-reports/TEST-*.xml

pamodās - viss darbojas
  .gitlab-ci.yml
Due: none

atslēgts sonarcloud-check un qodana
  .gitlab-ci.yml
Due: none

atslēgts sonarcloud-check un qodana
  .gitlab-ci.yml
  core/src/main/resources/application-shared-test.yaml
  usermanager/src/main/java/lv/degra/accounting/usermanager/UserManagerApplication.java
  usermanager/src/main/resources/application-test.yaml
Due: usermanager-test, core-test, company-test, freighttracking-test

atslēgts sonarcloud-check un qodana
  freighttracking/src/main/resources/application-test.yaml
Due: freighttracking-test

atslēgts sonarcloud-check un qodana
  native/freight/Dockerfile
Due: none

atslēgts sonarcloud-check un qodana
  native/freight/nginx.conf
Due: none

Dockerfile
  native/freight/Dockerfile
Due: none

Dockerfile
  native/freight/Dockerfile
  native/freight/nginx.conf
Due: none

Dockerfile
  desktop/src/main/resources/image/Untitled.png
  desktop/src/main/resources/image/logo_melns.png
  desktop/src/main/resources/image/logo_melns.svg
  native/freight/Dockerfile
Due: none

Dockerfile
  native/freight/nginx.conf
Due: none

Dockerfile
  native/freight/test-build/favicon.ico
Due: none

Dockerfile
  .gitlab-ci.yml
Due: none

noņemta docker atmiņas pārvadldība testa vidē - pārvietota uz JAVA_OPTS
  .gitlab-ci.yml
Due: none

noņemta docker atmiņas pārvadldība testa vidē - pārvietota uz JAVA_OPTS
  native/freight/android/gradle.properties
  native/freight/package-lock.json
  native/freight/package.json
Due: none

noņemta docker atmiņas pārvadldība testa vidē - pārvietota uz JAVA_OPTS
  native/freight/eas.json
  native/freight/utils/platformUtils.ts
Due: none

preview=test
  native/freight/README.md
  native/freight/eas.json
  native/freight/start-preview-dev.js
  native/freight/start-preview-web.js
  native/freight/start-preview.js
Due: none

preview=test
  native/freight/app.html
  native/freight/eas.json
  native/freight/start-preview-web.js
  native/freight/utils/platformUtils.ts
Due: none

ikonas kvadrātainas
  native/freight/.gitignore
  native/freight/assets/adaptive-icon.png
  native/freight/assets/icon.png
Due: none

noņemts ierobežojums csrf.disable() produkcijas vidē - netiek izmantots
  usermanager/src/main/java/lv/degra/accounting/usermanager/config/UserManagerSecurityConfig.java
Due: usermanager-test

pievienot lokālās testa videws būvēšana no ci-cd
  .gitignore
  config.toml
  test-local/README_CI_LOCAL.md
  test-local/docker-compose.override.yml
  test-local/docker-compose.yml
  test-local/ngnix/docker-compose.yaml
  test-local/ngnix/root/nginx-ui/keys.json
  test-local/ngnix/root/nginx-ui/nginx/proxy_host/1.conf
  test-local/run-test-conteiners/company/.env
  test-local/run-test-conteiners/company/Logs/company-test.log
  test-local/run-test-conteiners/company/Logs/company-test.log.2025-04-16.0.gz
  test-local/run-test-conteiners/company/Logs/company-test.log.2025-04-17.0.gz
  test-local/run-test-conteiners/company/Logs/company-test.log.2025-04-18.0.gz
  test-local/run-test-conteiners/company/Logs/company-test.log.2025-04-19.0.gz
  test-local/run-test-conteiners/company/Logs/company-test.log.2025-04-20.0.gz
  test-local/run-test-conteiners/company/Logs/company-test.log.2025-04-21.0.gz
  test-local/run-test-conteiners/company/Logs/company-test.log.2025-04-22.0.gz
  test-local/run-test-conteiners/company/docker-compose.yml
  test-local/run-test-conteiners/freight-web/.env
  test-local/run-test-conteiners/freight-web/docker-compose.yml
  test-local/run-test-conteiners/freighttracking/.env
  test-local/run-test-conteiners/freighttracking/Logs/freighttracking-test.log
  test-local/run-test-conteiners/freighttracking/Logs/freighttracking-test.log.2025-04-16.0.gz
  test-local/run-test-conteiners/freighttracking/Logs/freighttracking-test.log.2025-04-17.0.gz
  test-local/run-test-conteiners/freighttracking/Logs/freighttracking-test.log.2025-04-18.0.gz
  test-local/run-test-conteiners/freighttracking/Logs/freighttracking-test.log.2025-04-19.0.gz
  test-local/run-test-conteiners/freighttracking/Logs/freighttracking-test.log.2025-04-20.0.gz
  test-local/run-test-conteiners/freighttracking/Logs/freighttracking-test.log.2025-04-21.0.gz
  test-local/run-test-conteiners/freighttracking/Logs/freighttracking-test.log.2025-04-22.0.gz
  test-local/run-test-conteiners/freighttracking/docker-compose.yml
  test-local/run-test-conteiners/usermanager/.env
  test-local/run-test-conteiners/usermanager/Logs/usermanager-test.log
  test-local/run-test-conteiners/usermanager/Logs/usermanager-test.log.2025-04-16.0.gz
  test-local/run-test-conteiners/usermanager/Logs/usermanager-test.log.2025-04-17.0.gz
  test-local/run-test-conteiners/usermanager/Logs/usermanager-test.log.2025-04-18.0.gz
  test-local/run-test-conteiners/usermanager/Logs/usermanager-test.log.2025-04-19.0.gz
  test-local/run-test-conteiners/usermanager/Logs/usermanager-test.log.2025-04-20.0.gz
  test-local/run-test-conteiners/usermanager/Logs/usermanager-test.log.2025-04-21.0.gz
  test-local/run-test-conteiners/usermanager/Logs/usermanager-test.log.2025-04-22.0.gz
  test-local/run-test-conteiners/usermanager/docker-compose.yml
Due: none

pārveidota env izmantošana
  company/src/main/resources/application-dev.yaml
  core/src/main/resources/application-shared-dev.yaml
  core/src/main/resources/application-shared-production.yaml
  core/src/main/resources/application-shared-test.yaml
  native/freight/package-lock.json
  test-local/nginx/data/nginx/proxy_host/5.conf
  test-local/nginx/docker-compose.yaml
  usermanager/src/main/resources/application-dev.yaml
Due: usermanager-test, core-test, company-test, freighttracking-test

izmainīgs freight-trucking env failos
  .gitignore
  native/freight/.env.example
  test-local/run-test-conteiners/usermanager/Logs/usermanager-test.log
  test-local/run-test-conteiners/usermanager/Logs/usermanager-test.log.2025-04-20.0.gz
Due: none

- uzlabots native - nomainīts klases nosaukums uz DataFetcher
  company/src/main/java/lv/degra/accounting/company/config/security/CompanySecurityConfig.java
  company/src/main/resources/application-dev.yaml
  core/src/main/java/lv/degra/accounting/core/account/chart/service/AccountCodeChartService.java
  core/src/main/java/lv/degra/accounting/core/config/ApiConstants.java
  core/src/main/java/lv/degra/accounting/core/customer/service/CustomerService.java
  core/src/main/java/lv/degra/accounting/core/customer/service/CustomerServiceImpl.java
  core/src/main/java/lv/degra/accounting/core/exception/ApiError.java
  core/src/main/java/lv/degra/accounting/core/system/DataFetcher.java
  desktop/src/main/java/lv/degra/accounting/desktop/document/controller/InfoController.java
  desktop/src/main/java/lv/degra/accounting/desktop/system/component/lazycombo/SearchableComboBoxWithErrorLabel.java
  desktop/src/main/java/lv/degra/accounting/desktop/system/component/tableView/DynamicTableView.java
  freighttracking/src/main/java/lv/degra/accounting/freighttracking/config/security/FreightTrackingSecurityConfig.java
  freighttracking/src/main/resources/application-dev.yaml
  native/freight/.env.example
  native/freight/app.config.js
  native/freight/app/(auth)/login.tsx
  native/freight/app/(tabs)/index.tsx
  native/freight/app/(tabs)/truck-route-page.tsx
  native/freight/app/(tabs)/truck-route.tsx
  native/freight/config/axios.ts
  native/freight/context/AuthContext.tsx
  native/freight/utils/sessionUtils.ts
  test-local/nginx/data/logs/proxy-host-4_access.log.1.gz
  test-local/nginx/data/nginx/proxy_host/5.conf
  usermanager/HELP.md
  usermanager/src/main/java/lv/degra/accounting/usermanager/config/UserManagerSecurityConfig.java
Due: usermanager-test, core-test, company-test, freighttracking-test

- samazinātas ikonas
  native/companys/assets/adaptive-icon.png
  native/companys/assets/icon.png
Due: none

- add truc object
  core/src/main/java/lv/degra/accounting/core/truck_object/model/TruckObjectRepository.java
  core/src/main/java/lv/degra/accounting/core/truck_object/service/TruckObjectService.java
  core/src/main/java/lv/degra/accounting/core/truck_object/service/TruckObjectServiceImpl.java
  core/src/main/resources/db/changelog/add-truck-object-data.yaml
  native/freight/app/add-truck-object.tsx
Due: usermanager-test, core-test, company-test, freighttracking-test

- sakārtota poga
  native/freight/components/FormDropdownWithAddButton.tsx
Due: none

- saglabāšana
  freighttracking/src/main/java/lv/degra/accounting/freighttracking/controller/TruckRouteObjectController.java
Due: freighttracking-test

- viss saglabāts
  native/freight/app/(tabs)/index.tsx
  native/freight/app/(tabs)/truck-route.tsx
  native/freight/components/AddTruckObjectScreen.tsx
  native/freight/components/FormDropdown.tsx
  native/freight/components/FormDropdownWithAddButton.tsx
  native/freight/config/axios.ts
  native/freight/utils/sessionTimeoutHandler.ts
Due: none

- viss saglabāts
  core/src/main/resources/application-shared-dev.yaml
Due: usermanager-test, core-test, company-test, freighttracking-test

- viss saglabāts
  test-local/nginx/data/nginx/proxy_host/5.conf
Due: none

- viss saglabāts
  native/freight/app/(tabs)/truck-route.tsx
  native/freight/components/AddTruckObjectScreen.tsx
  native/freight/constants/styles.ts
  native/freight/hooks/useObjectStore.ts
  native/freight/package-lock.json
  native/freight/package.json
Due: none

- izveidots jauns FormDropdownWithAddButton, kas nemanto FormDropdown
  native/freight/components/FormDropdownWithAddButton.tsx
Due: none

- itkā darbojas galamērķa pievienošana un nenojauc sākuma punkta pievienošanu
  native/freight/app/(tabs)/truck-route.tsx
  native/freight/components/AddTruckObjectScreen.tsx
  native/freight/hooks/useObjectStore.ts
Due: none

- sesija beidzas - pārsūta un login
  native/freight/app/(tabs)/index.tsx
Due: none

Path conditions:
  usermanager-test: any of: usermanager/**/*, core/**/*
  core-test: any of: core/**/*
  company-test: any of: company/**/*, core/**/*
  freighttracking-test: any of: freighttracking/**/*, core/**/*
